#mocha { font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 60px; }

#mocha .blockList { line-height: 0; }

#mocha .errors
{
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
}

#mocha .errors.show { opacity: 1; }

#mocha .errors li { list-style: none; margin: 50px 15px; overflow-x: auto; }

#mocha .errors li div { font-family: monospace; }

#mocha .test
{
    background: #f8f8f8;
    border-radius: 3px;
    display: inline-block;
    margin: 1px;
    width: 25px;
    height: 25px;
    -webkit-transform: scale(.2);
    transform: scale(.2);
    -webkit-transition: -webkit-transform 500ms, background-color 150ms;
    transition: transform 500ms, background-color 150ms;
}

#mocha .test.fail.show { background: #c00; }

#mocha .test.fail.show:hover { background: #f00; }

#mocha .test.show { -webkit-transform: scale(1); transform: scale(1); }

#mocha .test:not(.fail).show { background: #eee; }

#mocha .test:not(.fail).show:hover { background: #ddd; }
